extends ../templates/main-layout

block PAGE_TITLE
  title Examples page title

block CONTENT
  a.block(
    href='#'
    title='link'
  ) link example

  //  html comment (will show)
  //- pug comment (not show)

  - var arr = ['one', 'two', 'three', 'four']

  - var objCollapsed = {'item1': 1, 'item2': 2}

  -
    const objExpanded = {
      value1: 'one',
      value2: 'two',
      value3: '<a href="#">link</a>',
    }


  //- 'each' example
  ul.list
    each item, idx in arr
      case idx
        when 0
          li.list__item= item
            //- template string interpolation
            span= `${idx} tmpl string ${item}`

        when 1
          li.list__item= item
            // case / when 1
            span= `${idx} tmpl string ${item}`

        when 2
          - break

        default
          li.list__item= item
            // case default
            span= `${idx} tmpl string ${item}`

    // 'object' and 'if' example
    each value, key in objExpanded
      if value === 'one'
        // if value === 'one'
        li.list__item= value
          span= key
        li.list__item-danger!= value
      else if value === 'two'
        // if value === 'two'
      else
        // miss value

  //- 'for' example
  ul.list
    - for (var i = 0; i < arr.length; i++)
      - var tmp = arr[i]

      li.list__item= tmp
        //- pug interpolation #{} - usual, !{} - danger
        span(data-title=`${tmp}`) #{i} tmpl string !{tmp}


  //- 'while' example
  ul.list
    - var whileIterator = 0

    while whileIterator++ < arr.length
      li.list__item= arr[whileIterator]
        span= `${whileIterator} tmpl string ${arr[whileIterator]}`

      -
        console.log(whileIterator)
